@import "tailwindcss";

:root {
  --color-primary: hsl(252, 53%, 21%);  /* Púrpura vibrante */
  --color-accent: hsl(30, 100%, 50%);   /* Naranja vibrante */
  --color-neutral: hsl(0, 0%, 95%);     /* Gris claro */
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-accent {
  background-color: var(--color-accent) !important;
}

.bg-neutral {
  background-color: var(--color-neutral) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-neutral {
  color: var(--color-neutral) !important;
}

